.container {
  display: flex;
  justify-content: space-around;
  margin-top: 4%;
}

.cart {
  display: flex;
  flex-direction: column;
}

.sticky {
    margin-right: 25%;
}
.subtotal {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: fixed;
  /* margin-right: 2% !important; */
  width: 300px;
  height: 100px;
  /* padding: 20px; */
  background-color: white;
  border: 1px solid #dddddd;
  border-radius: 3px;
}
