/* .product {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: flex-end;
	margin: 10px;
	padding: 20px;
	width: 100%;
	max-height: 400px;
	min-width: 100px;
	background-color: white;
	z-index: 1;
}

.product-rating {
	display: flex;
}

.product-img {
	max-height: 200px;
	width: 100%;
	object-fit: contain;
	margin-bottom: 15px;
}

.product-info {
	width: 100%;
	margin-bottom: 15px;
}

.product-price {
	margin-bottom: 5px;
} */


.product__card {
	width: 30%;
	margin: 2% 0 2% 0;
}


@media screen and (max-width: 768px){
	.product__card {
		width: 50%;
	}
}

@media screen and (max-width: 425px){
	.product__card {
		width: 80%;
	}
}
